<sk-dataset sk-refresh-handler="" sk-dataset-created="ctrl.createDataSetFornecedores(dataset)" sk-standalone>
    <sk-dsfield-md name="CODPARC" description="cot_gridPedidosFornCodParc" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="PRODUTOS" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="APRESPARCEIRO" description="cot_gridPedidosFornNomeParc" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="QTDITENS" description="cot_gridPedidosFornQtdItens" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="CODMOEDA" description="Cotacao.RotinaCotacao.labelCodMoeda" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="NOMEMOEDA" description="Cotacao.RotinaCotacao.labelMoeda" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="VLRMOEDA" description="Cotacao.RotinaCotacao.labelVlrMoeda" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="TOTALITENS" description="cot_gridPedidosFornTotalItens" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="CODTIPOVENDA" description="cot_gridPedidosFornCodTipVenda" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="APRESTIPOVENDA" description="cot_gridPedidosFornDescrTipVenda" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="CODEMPRESA" description="cot_gridPedidosFornCodEmpresa" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="APRESEMPRESA" description="cot_gridPedidosFornDescrEmpresa" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="CODCENCUS" description="cot_gridPedidosFornCodCenCus" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="APRESCENTCUS" description="cot_gridPedidosFornDescrCenCus" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="CODNAT" description="cot_gridPedidosFornCodNatureza" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="APRESNATUREZA" description="cot_gridPedidosFornDescrNatureza" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="CODPROJETO" description="cot_gridPedidosFornCodProjeto" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="APRESPROJETO" description="cot_gridPedidosFornDescrProjeto" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="VLRTOTALFRETE" description="Cotacao.RotinaCotacao.labelValorTotalFrete" user-type="F">
    </sk-dsfield-md>
    <sk-dsfield-md name="MODFRETE" description="Cotacao.RotinaCotacao.labelValorTotalFrete" user-type="S">
        <sk-options>
            <sk-option data="C" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_C"></sk-option>
            <sk-option data="D" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_D"></sk-option>
            <sk-option data="F" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_F"></sk-option>
            <sk-option data="R" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_R"></sk-option>
            <sk-option data="I" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_I"></sk-option>
            <sk-option data="S" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_S"></sk-option>
            <sk-option data="T" label="Cotacao.RotinaCotacao.cot_gridPedidosFornModFrete_T"></sk-option>
        </sk-options>
    </sk-dsfield-md>
</sk-dataset>

<sk-dataset sk-refresh-handler="" sk-dataset-created="ctrl.createDataSetItens(dataset)" sk-standalone>
    <sk-dsfield-md name="CODPROD" description="cot_gridPedidosItensCodProd" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="DESCRPROD" description="cot_gridPedidosItensDescrProd" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="CODVOL" description="cot_gridPedidosItensCodVol" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="DESCRVOL" description="cot_gridPedidosItensDescrVol" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="QTDE" description="cot_gridPedidosItensTotalQtde" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="PRECO" description="cot_gridPedidosItensPreco" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="CONTROLE" description="cot_gridPedidosItensControle" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="CODLOCAL" description="cot_gridPedidosItensCodLocal" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="VLRDESC" description="field_tgfitc_vlrdesc" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="PERCDESC" description="field_tgfitc_percdesc" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="VLRACRESC" description="field_tgfitc_vlracresc" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="PERCACRESC" description="field_tgfitc_percacresc" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="DESCRLOCAL" description="cot_gridPedidosItensDescrLocal" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="NUMCOTACAO" description="cot_labelPesquisaCotacao" user-type="I"></sk-dsfield-md>
    <sk-dsfield-md name="OBS" description="cot_gridPedidosItensObservacao" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="NUMEROOS" description="Cotacao.RotinaCotacao.labelNumeroCotacao" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="IPI" description="IPI" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="ALIQIPI" description="% IPI" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="ICMS" description="ICMS" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="ALIQICMS" description="% ICMS" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="VLRSUBST" description="VLRSUBST" user-type="S"></sk-dsfield-md>
    <sk-dsfield-md name="FRETE" description="Cotacao.RotinaCotacao.labelFreteUnitario" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="VLRTOTALFRETEITEM" description="Cotacao.RotinaCotacao.labelValorTotalFreteItem" user-type="F"></sk-dsfield-md>
    <sk-dsfield-md name="DIFERENCIADOR" description="Cotacao.RotinaCotacao.labelValorTotalFreteItem" user-type="I" visible="false"></sk-dsfield-md>
</sk-dataset>
<sk-hbox flex>
    <sk-vbox flex GAP="5px">
        <sk-vbox sk-width="100%" class="high-contrast-panel" layout-padding>
            <label id="titleResumosItensProvados" style="font-size: 14px; font-weight: bold;"
                sk-i18n>Cotacao.RotinaCotacao.cot_titleGeracaoPedidosCompra
            </label>
            <div>
                <hr sk-margin="5px 0px 5px 0px">
            </div>            
            <sk-hbox layout-align="start center">
                <button default class="btn btn-default" ng-click="ctrl.voltar()" class="btn btn-default"
                    toolTip="Geral.lblVoltar" font-icon="chevron-left" sk-i18n>Geral.lblVoltar</button>
                <button default class="btn btn-default" ng-click="ctrl.chamaPopupGerarPedido()" toolTip="cot_btnGerarPedido"
                    sk-i18n>cot_btnGerarPedido</button>
            </sk-hbox>
        </sk-vbox>
        <sk-accordion sk-width="calc(100% - 5px)" sk-height="100%">
            <sk-accordion-group heading="{{::ctrl.lblFornecedores}}" is-open="true" is-disabled="false">
                <sk-vbox sk-width="calc(100% - 5px)" sk-height="100%">
                    <sk-hbox sk-width="100%" sk-margin-left="5px" sk-margin-top="5px" sk-margin-right="5px"
                        sk-margin-bottom="5px" gap="5px">
                        <sk-grid-config sk-config-name="{{::ctrl.gridConfigFornecedoresPedido }}"></sk-grid-config>
                        
                        <button default id="btnRemoverFornSel" ng-click="ctrl.removerFornSel()"
                            toolTip="cot_btnRemoverFornecedorSel" sk-i18n>
                            <sk-icon svg-src="btn-remove-selected.svg"></sk-icon>
                        </button>
                        <button default id="btnRemoverFornNaoSel" ng-click="ctrl.removerFornNaoSel()"
                            toolTip="cot_btnRemoverFornecedorNaoSel" sk-i18n>
                            <sk-icon svg-src="btn-remove-deselected.svg"></sk-icon>
                        </button>
                        <sk-hbox sk-width="100%" layout-align="end center" horizontalAlign="right">
                            <sk-rows-counter sk-dataset="ctrl.dsFornecedoresPedido"></sk-rows-counter>
                        </sk-hbox>
                    </sk-hbox>

                    <sk-datagrid sk-on-datagrid-loaded="ctrl.onDatagridLoadedForn(datagrid)"
                        sk-dataset="ctrl.dsFornecedoresPedido"  sk-datagrid-interceptor="ctrl"
                        sk-grid-config="{{::ctrl.gridConfigFornecedoresPedido}}" sk-width="100%" sk-height="100%" sk-hide-cbx-column="false"
                        flex>
                    </sk-datagrid>                        
                </sk-vbox>
            </sk-accordion-group>
        </sk-accordion>
        <sk-accordion sk-width="100%" sk-height="100%">
            <sk-accordion-group heading="{{::ctrl.lblItensCotacao}}" is-open="true" is-disabled="false">
                <sk-vbox sk-width="100%" sk-height="100%">
                    <sk-hbox sk-width="100%" sk-margin-left="5px" sk-margin-right="5px" sk-margin-top="5px"
                        sk-margin-bottom="5px">
                        <sk-grid-config sk-config-name="{{::ctrl.gridConfigItensPedido }}"></sk-grid-config>
                        <button default id="btnRemoverItensSel" ng-click="ctrl.removerItensSel()"
                            toolTip="cot_btnRemoverItensSel" sk-i18n>
                            <sk-icon svg-src="btn-remove-selected.svg"></sk-icon>
                        </button>
                        <button default id="btnRemoverItensNaoSel" ng-click="ctrl.removerItensNaoSel()"
                            toolTip="cot_btnRemoverItensNaoSel" sk-i18n>
                            <sk-icon svg-src="btn-remove-deselected.svg"></sk-icon>
                        </button>
                        <button default id="btnTransferirItens" ng-click="ctrl.chamaPopupTransferirItens()"
                            sk-i18n>Cotacao.RotinaCotacao.cot_btnTransferirItens</button>

                        <sk-hbox sk-width="100%" layout-align="end center" horizontalAlign="right">
                            <sk-rows-counter sk-dataset="ctrl.dsItensPedido"></sk-rows-counter>
                        </sk-hbox>
                    </sk-hbox>
                    <sk-vbox flex sk-margin-bottom="5px" sk-margin-left="5px" sk-margin-right="5px">
                        <sk-datagrid sk-dataset="ctrl.dsItensPedido" sk-hide-cbx-column="false"
                            sk-grid-config="{{::ctrl.gridConfigItensPedido}}" layout>
                        </sk-datagrid>
                        <sk-vbox sk-width="100%" sk-margin-top="5px" class="high-contrast-panel" layout-padding>
                            <sk-hbox sk-width="100%" layout-align="end center" gap="5" horizontalAlign="right">
                                <label style="font-weight: bold" ng-bind="ctrl.lblValorTotalItens">
                                </label>
                                <label ng-bind="ctrl.txtValorTotalItens"></label>
                            </sk-hbox>
                        </sk-vbox>
                    </sk-vbox>
                </sk-vbox>
            </sk-accordion-group>
        </sk-accordion>
    </sk-vbox>
</sk-hbox>